@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

#card-message {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    grid-column-start: 2;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
}

.card-box {
    display: flex;
    border-style: solid;
    border-width: thin;
    border-color: rgb(135, 135, 135);
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.likecount {
    display: flex;
    justify-content: center;
}

.delete {
    display: flex;
    justify-content: center;
}

.add1 {
    display: flex;
    justify-content: center;
}

#like_counter {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    grid-column-start: 2;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
}


button {
    appearance: button;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 90%);
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 900;
    line-height: 0px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    button {
        padding: 15px 10px;
    }
}

