@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

.title-container {
  display: grid;
  grid-area: 1/1/3/11;
}

.upper-box-grid {
  display: grid;
  grid-template-columns: repeat(5, 25%);
  grid-area: 4/5/4/11;
}

.upper-box-container {
  display: flex;
  grid-column: 1/5;
  justify-content: space-evenly
}

.inspo-board-title {
  display: grid;
  font-family: 'Space Mono', monospace;
  font-size: 70px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #FA8BFF 19%, #2BD2FF 52%, #2BFF88 76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-form {
  font-family: 'Roboto Mono', monospace;
  font-size: larger;
  color: #0cbced;
}


