@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.title-container {
  display: flex;
  grid-area: 1/1/1/6;
  font-family: 'Roboto Mono', monospace;
  justify-content: center;
  font-size: 40px;
  align-content: center;
}